@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

html
{
	background-color: #eee;
	font-family: "Droid Sans";
}

body
{
	margin: auto;
	width: 700px;
	background-color: #fff;
	padding: 9px;
}

pre
{
	background-color: #606060;
	color: white;
	border-radius: 6px;
	width: 80%;
	padding: 12px 20px;
	color: #ffffa0;
}

h3
{
	margin-top: 40px;
	border-bottom: 1px solid #ddd;
}

span.lighter
{
	color: #b0b0b0;
}