@import url(http://fonts.googleapis.com/css?family=Ultra);

*
{
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif;
}

body
{
	margin: 30px auto;
	width: 570px;

    background: url("/public/background_blue_starburst.png") no-repeat center center fixed;
    background-color: #010e1f;
    background-size: 1600px, 1200px;
	color: #0e2f56;
	text-shadow: 0 -1px 0 white;
}

h1, h2, h3, h4, h5, h6
{
	font-family: "Ultra";
	font-style: italic;
	font-weight: 400;
	color: white;
	text-shadow: 0 3px 0 #174071;
	text-align: center;
}

h1
{
	line-height: 30px;
	margin-bottom: 5px;
}

img#maple_flag
{
	position: fixed;
	top: 120px;
	left: 30%;
	width: 422px;
	height: 444px;
	z-index: -1;
}

div#footer, div#footer a
{
	text-align: center;
	font-size: 12px;
	color: rgba(255, 255, 255, 0.35);
	text-shadow: none;
}


/* temperature list */


table
{
	margin: 8px;
	padding: 5px;
	width: 100%;
	background-color: rgba(255,255,255,0.5);
	border-radius: 12px;
	border: 1px solid white;
	box-shadow: 0 0 9px #174071, inset 0 0 20px white;

	font-weight: 500;
	font-size: 22px;
}

table tr td
{
	padding: 6px 10px;
}

table tr td:first-child
{
	text-align: center;
	width: 80px;
}

table tr:nth-child(even)
{
	background-color: rgba(255,255,255,0.2);
}


/* loading div */

div#refreshing_spinner
{
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
	font-style: italic;
	text-shadow: 0 0 12px rgba(0, 0, 0, 1);
	text-align: center;

	border-radius: 20px;
	padding: 40px 50px;
	display: inline;

	position: absolute;
	top: 200px;
	left: 180px;
	z-index: 1000;
}


/* control button list */

ul#controls
{
	display: block;
	list-style: none;
	width: 45%;
	margin: auto;
}

ul#controls li
{
	display: inline-block;
	float: right;
}

ul#controls li button
{
	padding: 3px 10px;
	border: 0;
	color: white;
	background-color: #234e82;
	cursor: pointer;
}


/* map and city markers */


div.canada_map
{
	position: relative;
}

div.canada_map div.city_marker
{
	position: absolute;
	white-space: nowrap;
}

div.canada_map div.city_marker span
{
	color: white;
	font-family: Helvetica, sans-serif;
	text-shadow: 0 1px 0px rgba(0, 0, 0, 0.7), 0 0 4px rgba(0, 0, 0, 0.9);
	font-size: 10px;
}